:root {
    --bg-color: #000000;
    --red: #f51010;
    --white: #fff;
    /* Fond sombre */
    --text-color: #ffc848;
    /* Texte clair */
    --accent-color: #000;
    --tier-color:#EF8F00;
    --border-color:#be7910;
    scroll-behavior: smooth;
    --font-family: "Montserrat", sans-serif;
  }
  /* ---------- Variables Light / Dark ---------- */
  /* body.dark{
    --bg-color: #000000;
 
    --text-color: #ffc848;
    --accent-color: #000;
    
    
  
  } */



/* Conteneur principal */
body {
   
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
 padding-left: 25px;
    padding-right: 25px;
}

.container1 {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
 padding-left: 25px;
    padding-right: 25px;
}

.container_form {
    
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 2px  var(--border-color);
}

.container_form1 {
    
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 2px  var(--border-color);
}




/* Titre */
.container_form1 h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
 }

.container_form1 .text_welcome {
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.container_form1 .text_welcome1 {
    margin-top: 10px;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 500;
}

.container_form {
    
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Titre */
.container_form h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
 }

.container_form .text_welcome {
    margin-top: 10px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
}

.container_form .text_welcome1 {
    margin-top: 10px;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 500;
}


/* Message de succès et d'erreur */
.bg-green-500 {
    background-color: #48bb78;
}

.bg-red-500 {
    background-color: #f56565;
}

.text-white {
    color: white;
}

.p-3 {
    padding: 12px;
}

.rounded {
    border-radius: 8px;
}

.mb-4 {
    margin-bottom: 20px;
}

/* Formulaire */
form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container_label {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.form-label {
    font-size: 14px;
    font-weight: 400;
    color: var(--tier-color);
}

.btn-validation {
    display: flex;
    justify-content: center;
}

.form-control {
    background-color: var(--tier-color);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none; /* Supprime complètement la bordure */
    outline: none;
}

.form-control:focus {
    box-shadow: none; /* Empêche l'effet de focus par défaut */
}


.logo {
    width: 110px;
    border: none;
    height: 110px;
}

.container_label_picture {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
}

.container_profile-pic-logo {
  
    display: flex;
    align-items: center;
   justify-content: space-between;
    
}

.container_profile-pic-logo .container_label {
    margin-bottom: 40px;
}

.container_profile-pic-logo .logo{
  
    border-radius: 0px;
    
}





.btn-primary {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--text-color);
}



/* Container pour la section de connexion */
.container_login {
    text-align: center;
    margin-top: 20px;
}

.text_login {
    font-size: 14px;
    color: var(--white);
}

.text_login a {
    color: var(--tier-color);
    text-decoration: none;
}

.text_login a:hover {
    text-decoration: underline;
}

.nav-register-login {
    height: 100px;
    position: relative;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;  /* Centre verticalement */
    justify-content: space-between; /* Répartit l'espace : logo centré, icône à droite */
    position: relative;
    width: 100%;
    padding: 20px;
}

.logo1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centre l'image horizontalement */
}

.nav-register-login i {
    margin-left: auto; 
}


.text_data {
    margin-top: 10px;
    font-size: 0.6rem;
    text-align: left;
}

/***** profile view ******/


.logout_btn_container {
    text-align: right; /* Aligner le bouton à droite */
}

.logout_btn_container form {
    display: inline-block; /* Ajuster le formulaire à la taille du bouton */
}

.logout_btn_container button {
    display: flex; /* Permet d'aligner l'icône et le texte */
    align-items: center; /* Centre verticalement */
    gap: 8px; /* Ajoute un espace entre l'icône et le texte */
    width: auto;
    padding: 10px 20px;
    background: none;
    color: var(--red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout_btn_container button i {
    font-size: 16px; /* Taille de l'icône */
}

.container_infos {
    color: var(--white);
    margin-top: 10px;
    /* background-color: #476152; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_infos .container_welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container_infos .container_welcome .welcome_profile{
    color: var(--white);
    font-size: 1.1rem;
}

.container_infos .container_welcome .welcome_profile_espace{
    color: var(--white);
    font-size: 0.9rem;
}

.container_infos .container_welcome .last_connexion{
    font-size: 0.6rem;
    color: var(--tier-color);
}

 .infos_container {
    color:var(--white);
    padding-left: 50px;
    /* background-color: #48bb78; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;


} .infos_container .title_infos_container{
   gap: 10px;
    display: flex;
    justify-content: start;
    align-items: baseline;
  }

 .infos_container .title_infos_container button{
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--tier-color);
    background: none;
    border: none;
   }

 .infos_container .title_infos_container i{
    color: var(--tier-color);
    font-size: 1.1rem;
   }

   .infos_container .title_infos_container h2{
    font-weight: bold;
    font-size: 1.1rem;
   }




.all_infos_container .info_user {
    display: flex;
    gap: 25px;
}

.all_infos_container .info_user i {
    font-size: 1.2rem;
}

.info_user_picture img {
    border: 2px solid var(--tier-color);
    margin-bottom: 20px;
    width: 150px; /* L'image prend toute la largeur */
    height: 150px;
    object-fit: cover; /* Assure que l'image couvre bien l'espace sans être déformée */
    border-radius: 50%; /* Garde l'effet cercle même si l'image a un fond transparent */
}



body {
    background-color: #080808;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 480px;
    margin: auto;
  }
  
  .logo1 {
    display: block;
    margin: 20px auto;
  }
  
  h2 {
    color: #FFC848;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text_welcome,
  .text_welcome1 {
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
  }
  
  .container_form {
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 200, 72, 0.2);
  }
  
  .container_label {
    margin-bottom: 15px;
  }
  
  label.form-label {
    display: block;
    margin-bottom: 6px;
    color: #FFC848;
    font-weight: bold;
  }
  
  input.form-control,
  select.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #222;
    color: white;
  }
  
  input.form-control:focus,
  select.form-control:focus {
    outline: none;
    border: 2px solid #FFC848;
  }
  
  .btn-validation {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-primary {
    background-color: #FFC848;
    color: #080808;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #e6b838;
  }
  
  .container_login {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }
  
  .container_login a {
    color: #FFC848;
    text-decoration: none;
    font-weight: bold;
  }
  
  .container_profile-pic-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    
     }
  
  .container_profile-pic-logo .logo {
    width: 60px;
    height: auto;
  }
  
  .text_data {
    font-size: 12px;
    margin-top: 10px;
    color: #777;
    text-align: center;
  }
  
  .nav-register {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: 50px;
  }  


/* Style du bouton Supprimer dans la carte projet */
.card-body .btn-danger {
    background-color: #dc3545;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-body .btn-danger:hover {
    background-color: #c82333;
}


/******* page match *******/

.container_profile_match {
    gap: 20px;
    font-weight: 500;
    margin-top: 20px;
    /* background-color: #007bff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.title_page_match {
    font-family: var(--font-family);
    font-size: 1.1rem;
}

.container_picture_profile_match {
    position: relative;
    
}

.container_picture_profile_match img {
    border: 2px solid var(--tier-color);
    margin-bottom: 20px;
    width: 290px; /* L'image prend toute la largeur */
    height: 450px;
    object-fit: cover; /* Assure que l'image couvre bien l'espace sans être déformée */
}

.container_infos_profile_match_top {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 0 0 10px 10px;
}

.container_infos_profile_match_bottom {
    padding: 5px;
    font-family: var(--font-family);
    font-size: 0.8rem;
    width: 50%; /* Ajuste la largeur si nécessaire */
    position: absolute;
    bottom: 4.5%; /* Place en bas du conteneur parent */
    left: 0; /* Place à gauche du conteneur parent */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 10px 10px 0 0; /* Coins inférieurs arrondis */
}

.container_bio_user_match {
    margin-top: -10px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    /* background-color: #218838; */
    padding-left: 60px;
    padding-right: 50px;
}

.container_btn_swipes {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.container_btn_swipes form {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px; 
}

.container_btn_swipes form button {
    border: none;
    padding: 8px 18px 8px 18px;
}

.container_btn_swipes form .match-btn {
    background-color: #218838;
    color: var(--white);
}

.container_btn_swipes form .pass-btn {
    background-color: red;
    color: var(--white);
}

#message {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 50%; 
    padding: 15px; 
    text-align: center; 
    background-color: rgba(255, 193, 7, 0.9);
    color: black; 
    font-weight: bold;
    border-radius: 10px; 
    z-index: 1000; 
}

/**** list discussion page ****/

.title_messagerie {
    margin-top: 10px;
    color: var(--white);
}

.container_all_list_message {
    margin-top: 50px;
    /* background-color: #218838; */
    display: flex;
    justify-content: center;
}

 .container_list_messages ul{
    display:flex ;
    flex-direction: column;
    gap: 20px;
 }

 .infos_users_message {
    display: flex;
    flex-direction: column;
 }

 .container_list_messages ul li{
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
 }

 .infos_users_name_speciality_container {
    display: flex;
    gap: 10px;
 }

 .infos_users_message a {
    color: var(--white);
    font-family: var(--font-family);
    font-size: 1.2rem;
 }

 .infos_users_message small {
    color: var(--white);
    font-family: var(--font-family);
    font-size: 0.6rem;
 }


 /****** message box ****/
 .messages-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid var(--border-color);
    padding: 10px;
}
.message {
    width: 50%;
    padding: 8px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 70%;
}
.sent {
    background: var(--border-color);
    align-self: flex-end;
    text-align: right;
}
.received {
    background: #f1f1f1;
    color: var(--border-color);
    align-self: flex-start;
}

.textarea_message {

    background-color: var(--white);
    /* border-radius: 20px; */
    width: 200px;
}

.btn-send-msg {
    background-color: var(--border-color);
    border: none;
    padding: 8px;
    border-radius: 25px;
}

.nav_fixed {
    color: var(--accent-color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    /* height: 70px; */
    bottom: 0;
    padding: 15px;
}

.container_li_nav {
    width: 100%;
    /* background-color: #218838; */
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    align-items: center;
    
}

.list_nav a {
    color: var(--accent-color);
}
