:root {
    --bg-color: #000000;
    --red: #f51010;
    --white: #fff;
    /* Fond sombre */
    --text-color: #ffc848;
    /* Texte clair */
    --accent-color: #000;
    --tier-color:#EF8F00;
    --border-color:#be7910;
    scroll-behavior: smooth;
    --font-family: "Montserrat", sans-serif;
  }
  /* ---------- Variables Light / Dark ---------- */
  /* body.dark{
    --bg-color: #000000;
 
    --text-color: #ffc848;
    --accent-color: #000;
    
    
  
  } */



/* Conteneur principal */
body {
   
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
 padding-left: 25px;
    padding-right: 25px;
}

.container1 {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
 padding-left: 25px;
    padding-right: 25px;
}

.container_form {
    
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 2px  var(--border-color);
}

.container_form1 {
    
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: solid 2px  var(--border-color);
}




/* Titre */
.container_form1 h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
 }

.container_form1 .text_welcome {
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.container_form1 .text_welcome1 {
    margin-top: 10px;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 500;
}

.container_form {
    
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Titre */
.container_form h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
 }

.container_form .text_welcome {
    margin-top: 10px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
}

.container_form .text_welcome1 {
    margin-top: 10px;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 500;
}


/* Message de succès et d'erreur */
.bg-green-500 {
    background-color: #48bb78;
}

.bg-red-500 {
    background-color: #f56565;
}

.text-white {
    color: white;
}

.p-3 {
    padding: 12px;
}

.rounded {
    border-radius: 8px;
}

.mb-4 {
    margin-bottom: 20px;
}

/* Formulaire */
form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container_label {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.form-label {
    font-size: 14px;
    font-weight: 400;
    color: var(--tier-color);
}

.btn-validation {
    display: flex;
    justify-content: center;
}

.form-control {
    background-color: var(--tier-color);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none; /* Supprime complètement la bordure */
    outline: none;
}

.form-control:focus {
    box-shadow: none; /* Empêche l'effet de focus par défaut */
}


.logo {
    width: 110px;
    border: none;
    height: 110px;
}

.container_label_picture {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
}

.container_profile-pic-logo {
  
    display: flex;
    align-items: center;
   justify-content: space-between;
    
}

.container_profile-pic-logo .container_label {
    margin-bottom: 40px;
}

.container_profile-pic-logo .logo{
  
    border-radius: 0px;
    
}





.btn-primary {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--text-color);
}



/* Container pour la section de connexion */
.container_login {
    text-align: center;
    margin-top: 20px;
}

.text_login {
    font-size: 14px;
    color: var(--white);
}

.text_login a {
    color: var(--tier-color);
    text-decoration: none;
}

.text_login a:hover {
    text-decoration: underline;
}

.nav-register-login {
    height: 100px;
    position: relative;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;  /* Centre verticalement */
    justify-content: space-between; /* Répartit l'espace : logo centré, icône à droite */
    position: relative;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--border-color);
}

.logo1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centre l'image horizontalement */
}

.nav-register-login i {
    margin-left: auto; 
}


.text_data {
    margin-top: 10px;
    font-size: 0.6rem;
    text-align: left;
}

/***** profile view ******/


.logout_btn_container {
    text-align: right; /* Aligner le bouton à droite */
}

.logout_btn_container form {
    display: inline-block; /* Ajuster le formulaire à la taille du bouton */
}

.logout_btn_container button {
    display: flex; /* Permet d'aligner l'icône et le texte */
    align-items: center; /* Centre verticalement */
    gap: 8px; /* Ajoute un espace entre l'icône et le texte */
    width: auto;
    padding: 10px 20px;
    background: none;
    color: var(--red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout_btn_container button i {
    font-size: 16px; /* Taille de l'icône */
}

.container_infos {
    color: var(--white);
    margin-top: 10px;
    /* background-color: #476152; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_infos .container_welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container_infos .container_welcome .welcome_profile{
    color: var(--white);
    font-size: 1.1rem;
}

.container_infos .container_welcome .welcome_profile_espace{
    color: var(--white);
    font-size: 0.9rem;
}

.container_infos .container_welcome .last_connexion{
    font-size: 0.6rem;
    color: var(--tier-color);
}

 .infos_container {
    color:var(--white);
    padding-left: 50px;
    /* background-color: #48bb78; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;


} .infos_container .title_infos_container{
   gap: 10px;
    display: flex;
    justify-content: start;
    align-items: baseline;
  }

 .infos_container .title_infos_container button{
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--tier-color);
    background: none;
    border: none;
   }

 .infos_container .title_infos_container i{
    color: var(--tier-color);
    font-size: 1.1rem;
   }

   .infos_container .title_infos_container h2{
    font-weight: bold;
    font-size: 1.1rem;
   }


.all_infos_container {
    margin-top: 30px;
    /* background-color: #48bb78; */
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* margin-right: 20px; */
}

.all_infos_container .info_user {
    display: flex;
    gap: 25px;
}

.all_infos_container .info_user i {
    font-size: 1.2rem;
}

.info_user_picture img {
    border: 2px solid var(--tier-color);
    margin-bottom: 20px;
    width: 150px; /* L'image prend toute la largeur */
    height: 150px;
    object-fit: cover; /* Assure que l'image couvre bien l'espace sans être déformée */
    border-radius: 50%; /* Garde l'effet cercle même si l'image a un fond transparent */
}
